[submodule "PackagesLocal/game-base"]
	path = PackagesLocal/game-base
	url = git@github.com:iCryingCat/game-base.git
[submodule "PackagesLocal/ui-framework"]
	path = PackagesLocal/ui-framework
	url = git@github.com:iCryingCat/ui-framework.git
[submodule "PackagesLocal/sharp-toolset"]
	path = PackagesLocal/sharp-toolset
	url = git@github.com:iCryingCat/sharp-toolset.git
[submodule "u2xlsx"]
	path = u2xlsx
	url = git@github.com:iCryingCat/com.baize.u2xlsx.git
